<div class="demo-container" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header>
       <mdl-layout-header>
          <mdl-layout-header-row>
             <mdl-layout-title>Title</mdl-layout-title>
          </mdl-layout-header-row>
       </mdl-layout-header>
       <mdl-layout-drawer>
          <div>
            <span id="logo">
                <img [src]="logoImage">
            </span>
            <mdl-list>
                <mdl-list-item lines="2">
                    <mdl-list-item-primary-content>
                    <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                    <span>Aaron Paul</span>
                    <mdl-list-item-sub-title>62 Episodes</mdl-list-item-sub-title>
                    </mdl-list-item-primary-content>
                    <mdl-list-item-secondary-content>
                    <a href="#"><mdl-icon>star</mdl-icon></a>
                    </mdl-list-item-secondary-content>
                </mdl-list-item>
            </mdl-list>
          </div>
       </mdl-layout-drawer>
       <mdl-layout-content>
            <router-outlet></router-outlet>
       </mdl-layout-content>
    </mdl-layout>
 </div>
   