
mdl-layout-drawer {
    div {
        padding-bottom: 96px;
        min-height: 100%;
        position: relative;
        box-sizing: border-box;
        #logo {
            border-bottom: 1px solid #e0e0e0;
            box-sizing: border-box;
            display: block;
            height: 64px;
            padding: 11px 24px 11px 24px;
            position: relative;
            img{
                height:100%;
            }
        }
    }
}

:host ::ng-deep mdl-layout {
    div.mdl-layout__drawer-button{
        color:#fff !important;
    }
}

