mdl-card{
    margin-right: auto;
    margin-left: auto;
    min-height: inherit;
    margin-top: 30px;
    margin-bottom: 30px;
    mdl-card-title{
        height:90px;
    }
    mdl-card-actions{
        button{
            float: right;
        }
    }
}