<mdl-card mdl-shadow="2"  mdl-ripple>
    <mdl-card-title>
        <h2 mdl-card-title-text>ITEM 1</h2>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple routerLink="/quests">Get Started</button>
    </mdl-card-actions>
</mdl-card>

<mdl-card mdl-shadow="2"  mdl-ripple>
    <mdl-card-title>
        <h2 mdl-card-title-text>ITEM 2</h2>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple routerLink="/leaderboards">Get Started</button>
    </mdl-card-actions>
</mdl-card>

<mdl-card mdl-shadow="2"  mdl-ripple>
    <mdl-card-title>
        <h2 mdl-card-title-text>ITEM 3</h2>
    </mdl-card-title>
    <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple routerLink="/rewards">Get Started</button>
    </mdl-card-actions>
</mdl-card>